nav {
    position: flex;
    padding-bottom: 1em;
    padding-top: 0em;
    font-size: 18px;
  }
  nav button {
      background-color: #fff;
      border-style: none;
  }
  nav button:hover {
    color: #ff0000;
    border-style: none;
  }
  nav ul li:first-child {
    float: left;
  }
  nav ul li:last-child {
    float: right;
  }
